@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Manrope', sans-serif;
}

p {
  margin-bottom: 0px !important;
}

.v-application{
  font-family: 'Manrope', sans-serif !important;
}

/* Regular Typography */
.h1-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
}
.h2-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
}
.h3-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
}
.h4-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}
.h5-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}
.h6-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.xl-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.l-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.m-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.s-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.xs-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.xxs-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
}

/* Semibold Typography */
.h1-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
}
.h2-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
}
.h3-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
}
.h4-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
}
.h5-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}
.h6-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
.xl-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.l-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.m-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.s-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.xs-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.xxs-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
}

/* Bold Typography */
.h1-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
}
.h2-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
}
.h3-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}
.h4-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}
.h5-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.h6-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.xl-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.l-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.m-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.s-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
.xs-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}
.xxs-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
}
